/* ==========================================================================
   Main styles 
   ========================================================================== */
html,
body {
    background: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container-fluid{
    width:90%;
}

/* ==========================================================================
   Nav bar
   ========================================================================== */

.navbar{
    display: inline-block;
    float: none;
    background:white;
    border:none;
}

.navbar-link:hover{
    text-decoration: none;
}

.nav-container{
    text-align:center;
    width:100%;
    padding:20px;
    background-color:#E4EBF0;
    /*display: block; margin-left: auto;*/
}

.navbar{
    background:#E4EBF0;
}

.js-fiddle{
    font-size:12px;
    color:white;
    
    background-color:#008BF3;
    margin:0px;
    padding:5px 30px;
    
    display:inline-block;
    text-align:center;
    
    cursor: pointer;
    
    text-align: center;
    text-decoration: none;
    
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px #0065b3;
}

.js-fiddle:hover{
    background-color:#007cdb;
    transform: translateY(2px);
    color:white;
    text-decoration: none;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}

/* ==========================================================================
   Index page 
   ========================================================================== */

.box-grid{
    margin:30px 0px;
    background-color:white;
}

.box-row{
    margin:20px;
}

.box{
    display:inline-block;
    padding:10%;
    margin:2% 1%;
    background-color:#6D7381;
    
    font-size:15px;
    
    color:white;
    cursor: pointer;
    
    text-align: center;
    text-decoration: none;
    
    outline: none;
    border: none;
    border-radius: 2px;
    min-height:30%;
    width:30%;
    /*box-shadow: 0 9px #999;*/
}

.box:hover{
    background-color:#60656f;
    transform: translateY(3px);
}

.btn-primary:focus,
.btn-info:hover,
.btn-info:focus,
.btn-info
.box:active {
  background-color: #60656f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.box:focus {
  color: #60656f;
}




.blue, .blue:hover{ background-color: #4274E0;}
.red, .red:hover{background-color: #D54A50;}
.yellow, .yellow:hover{ background-color: #F49032;}
.green, .green:hover{background-color: #3EE79B;}
.pink, .pink:hover{ background-color: #D8205E;}
.navy, .navy:hover{ background-color: #1E2E6E;}
.orange, .orange:hover{ background-color: #FDC003;}
.purple, .purple:hover{ background-color: #3C0978;}

.jsfiddle, .jsfiddle:hover{ background-color: #F3F5F6; color:#7F94A1;}
a:link, a:hover{text-decoration: none;}

#myCanvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

/* ==========================================================================
   Slide pages 
   ========================================================================== */

.slide{
    margin:15px;
}

.slide-grid{
    margin-top:55px;
    display:block;
    width:100%;
    padding:5px;
    border-radius:8px;
    
    text-align:center;
    vertical-align: middle;
    background-color:#494F5D;
}



